body{
	width: 300px;
	max-height: 600px;
  overflow: scroll;
 
}

div.title, div.url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.url {
  display:block;
  font-size: 9px;
  color: #999;
}
.withfocus {
  font-weight: bold;
  background-color: whitesmoke;
}

.numwin{
	font-family: 'Lobster', cursive;
}

#gwupic{
    float: center;
    width: 300px;
    height: 20px;
}
.spancolor{
	color: #FF0000;
}